@charset "UTF-8";
// 共用變數與函數
//@import "base/variables";         //base/_variables         -共用變數
// @import "base/color";             //base/_color             -顏色變數
//@import "base/mixins";            //base/_mixins            -函式

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$media-xs: 0 !default;
$media-sm: 576px !default;
$media-md: 768px !default;
$media-lg: 992px !default;
$media-xl: 1200px !default;


/* Font */
$font-family-base: 'PingFangTC', 'Heiti TC', 'Microsoft JhengHei', 'Noto Sans Myanmar','Arial', 'sans-serif';

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-base;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../images/layout/blue-bg.jpg);
  background-size: 100% auto;
  background-position: center top;  
  background-color: #000;
}

main{
  position: relative;
  min-height: 100%;
}