@charset "UTF-8";

.welcomePage{
  width: 640px;
  height:calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/welcome/bg.jpg);
  margin: 0 auto;
}

.video__container{
  position: relative;
  width: 640px;
  height: 640px;
  /* background-image: url(../images/welcome/_1.jpg); */
  margin-top:-60px;
  
}

.video__loader{
  position: absolute;
  left:0;
  top:0;
}

.footer{
  background: transparent;
}

.footer__logo{
  background: transparent;
}

.footer__logo img{
  height: 32px;
  margin-left: 2px;
  margin-bottom: 13px;
}

.footer__warning{
  max-height: 300px;
}

.footer__warning img {
  max-height: 300px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container{
  max-width: 100%;
}