<div class="footer__logo">
  <div class="container">
    <img src="images/layout/logo-footer.svg" class="img-fluid" />
  </div>
</div>
<div class="footer__warning">
  <div class="container">
    <img src="images/layout/warning-mobile.svg" class="img-fluid d-lg-none" />
    <img src="images/layout/warning.svg" class="img-fluid d-none d-lg-block" />
  </div>
</div>

<div class="footer__other">
  <ul>
    <li class="dg_footer_item_0"><a href="TnC_tcc.html" rel="nofollow" target="_blank" title="" onclick="gaBtn('footer-terms');">使用條件</a></li>
    <li class="dg_footer_item_1"><a href="PrivacyPolicy_tcc.html" rel="nofollow" target="_blank" title="" onclick="gaBtn('footer-cookie');">隱私與
        Cookie 提醒</a></li>
    <li class="dg_footer_item_2"><a href="accessibility.html" rel="nofollow" target="_blank" title="" onclick="gaBtn('footer-guide');">導覽說明</a></li>
    <li class="dg_footer_item_3"><a href="http://www.tbaf.org.tw/" target="_blank" title="" onclick="gaBtn('footer-TBAF');">TBAF</a></li>
    <li class="dg_footer_item_4"><a href="http://www.drinkiq.com" target="_blank" title="" onclick="gaBtn('footer-DrinkIQ');">DrinkIQ
      </a></li>
    <!-- <li class="dg_footer_item_5"><a href="http://www.thebar.com" target="_blank" title="" onclick="gaBtn('footer-theBar.com');">theBar.com</a></li> -->
    <li class="dg_footer_item_6"><a href="Community_Guidelines_FAN_RD.pdf" target="_blank" title="" onclick="gaBtn('footer-ugcpolicy');">UGC
        Policy</a></li>
  </ul>
</div>

<div class="footer__copyright">
  Please do not share with anyone under the legal purchase age for alcohol. Drink Responsibly. © Diageo
</div>