<!--menu-bar-->
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="true"
  onclick="gaBtn('menu');">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>

<!-- <div class="navbar-news">
  <a href="news.html"><img src="./images/layout/btn-news.png" alt=""></a>
</div> -->

<!-- logo-m -->
<a href="index.html" title="Mortlach" tabindex="1" class="header__logo" onclick="javascript:window.location.reload();gaBtn('logo');">
  <img alt="Mortlach" alt="LOGO" src="images/layout/logo.png" class="img-fluid" />
  <strong style="display: none;">Mortlach</strong>
</a>

<!-- GoTop -->
<a href='form.html' title="Go Top" class="header__btn-gotop" target="_blank">
  <img alt="Go Top" src="images/layout/btn-GoTop.png" class="img-fluid" />
</a>

<script>
  function gaBtn() { };
</script>

<!-- main-nav -->

<div class="collapse" id="main-nav">
  <!-- nav-main -->
  <div class="nav-main">
    <div class="nav-box">
      <div class="nav-icon nav-close">
        <img src="images/menu/close.png" class="img-fluid" />
      </div>

      <div class="nav-icon">
        <img src="images/menu/icon.png" class="img-fluid" />
      </div>

      <ul id="menu" class="nav-list">
        <li class="nav-item" data-menuanchor="secret_1">
          <a class="nav-a" href="index.html#secret_1" title="" onclick="gaBtn('menu-secret-1');">
            <img src="images/main_menu/nav-1.png" class="img-fluid" />
          </a>
        </li>
        <li class="nav-item" data-menuanchor="secret_3">
          <a class="nav-a" href="index.html#secret_3" title="" onclick="gaBtn('menu-secret-3');">
            <img src="images/main_menu/nav-2.png" class="img-fluid" />
          </a>
        </li>
        <li class="nav-item" data-menuanchor="product">
          <a class="nav-a" href="product.html" title="" onclick="gaBtn('menu-location');">
            <img src="images/main_menu/nav-3.png" class="img-fluid" />
          </a>
        </li>

        <!-- <li class="nav-item" data-menuanchor="news">
          <a class="nav-link" href="news.html" title="" onclick="gaBtn('menu-fee');">
            <img src="images/main_menu/nav-4.png" class="img-fluid" />
          </a>
        </li> -->

        <li class="nav-item" data-menuanchor="form">
          <a class="nav-a" href="form.html" title="" onclick="gaBtn('menu-form');" target="_blank">
            <img src="images/main_menu/nav-5.png" class="img-fluid" />
          </a>
        </li>

        <!-- <li class="nav-item" data-menuanchor="product">
            <a class="nav-link" href="product.html" title="" onclick="gaBtn('menu-eventtqa');">
              <img src="images/main_menu/nav-6.png" class="img-fluid" />
            </a>
          </li> -->
        <li class="nav-item" data-menuanchor="store">
          <a class="nav-a" href="store.html" title="" onclick="gaBtn('menu-store');" target="_self">
            <img src="images/main_menu/nav-7.png" class="img-fluid" />
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>