    <!--menu-bar-->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="true"
      onclick="gaBtn('menu');">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- logo-m -->
    <a href="#" title="Mortlach" tabindex="1" class="header__logo" onclick="javascript:window.location.reload();gaBtn('logo');">
      <img alt="Mortlach" alt="LOGO" src="images/layout/logo.png" class="img-fluid" />
      <strong style="display: none;">Mortlach</strong>
    </a>

    <!-- GoTop -->
    <a href="#top" title="Go Top" class="header__btn-gotop" onclick="gaBtn('GoTop');">
      <img alt="Go Top" src="images/layout/btn-GoTop.png" class="img-fluid" />
    </a>

    <!-- main-nav -->
    <div class="collapse" id="main-nav">
      <!-- nav-main -->
      <div class="nav-main">
        <div class="nav-box">
          <div class="nav-icon nav-close">
            <a class="collapsed" data-toggle="collapse" href="#main-nav" title="CLOSE" onclick="gaBtn('menu-close');">
              <img src="images/menu/close.png" class="img-fluid" />
            </a>
          </div>
          <ul id="menu" class="nav-list">
            <li class="nav-item" data-menuanchor="homePage">
              <a class="nav-link" href="#homePage" title="品酩會報名" onclick="gaBtn('menu-signin');">
                <img src="images/menu/nav-1.png" class="img-fluid" />
              </a>
            </li>
            <li class="nav-item" data-menuanchor="introPage">
              <a class="nav-link" href="#introPage" title="活動介紹" onclick="gaBtn('menu-event');">
                <img src="images/menu/nav-2.png" class="img-fluid" />
              </a>
            </li>
            <li class="nav-item" data-menuanchor="locationPage">
              <a class="nav-link" href="#locationPage" title="活動地點" onclick="gaBtn('menu-location');">
                <img src="images/menu/nav-3.png" class="img-fluid" />
              </a>
            </li>
            <li class="nav-item" data-menuanchor="chargePage">
              <a class="nav-link" href="#chargePage" title="活動費用" onclick="gaBtn('menu-fee');">
                <img src="images/menu/nav-4.png" class="img-fluid" />
              </a>
            </li>
            <li class="nav-item" data-menuanchor="rulePage">
              <a class="nav-link" href="#rulePage" title="活動辦法" onclick="gaBtn('menu-eventtqa');">
                <img src="images/menu/nav-5.png" class="img-fluid" />
              </a>
            </li>

          </ul>
          <div class="nav-icon">
            <a class="collapsed" data-toggle="collapse" href="#main-nav" title="CLOSE" onclick="gaBtn('menu-icon-colse');">
              <img src="images/menu/icon.png" class="img-fluid" />
            </a>
          </div>
        </div>
      </div>
    </div>