@charset "UTF-8";

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3000;
  background: #3d3736;

  &__logo {
    padding: 0;
    height: auto;
    background-image: linear-gradient(263deg, #bd855d, #e9b079 49%, #bd855d 99%);

    img {
      //width: 170px;
      height: 18px;
    }
  }

  &__warning {
    padding: 5px 0;
    background: #3d3736;
    max-height: 100px;

    img {
      max-height: 60px;
      width: 100%;
    }
  }

  &__copyright {
    // color: #9f7861;
    // background: #3d3736;
    // text-align: center;
    // font-size: 12px;

    font-size: 0;
    height: 15px;
    width: 100%;
    background-image: url("../images/layout/copyright.gif");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__other {
    ul {
      background: #3d3736;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      overflow: hidden;
      font-size: 12px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      line-height: 1;
    }

    li {
      margin: 0 10px;
      color: #9f7861;

      a {
        color: #9f7861;
      }

      &:after {
        content: "|";
        display: inline;
        margin-left: 12px;
      }

      &:last-child {
        &:after {
          content: "";
          display: none;
          margin-left: 0;
        }
      }
    }
  }
}
@media (min-width: 640px) {
  .footer {
    &__copyright {
      background: #3d3736;
      color: #9f7861;
      text-align: center;
      font-size: 12px;
      line-height: 12px;
      margin-top: 5px;
    }
  }
}
@media (min-width: $media-lg) {
  .footer {
    &__logo {
      height: 30px;
    }

    &__warning {
      padding: 5px 5vw;
      max-height: 60px;

      img {
        max-height: 50px;
        width: 100%;
      }
    }
  }

}
