@charset "UTF-8";

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: auto;
  background: linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.65) 80%, rgba(0, 0, 0, 0) 100%);

  &.affix {
    transition: all 0.8s ease-in-out;
    .header {
      &__logo {
        width: 100px;
        margin: 10px auto 20px;    
        transition: all 0.8s ease-in-out;
      }
    }

    .navbar-news{
      transform: scale(.8);
      transition: all 0.8s ease-in-out;
    }
  }

  .navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 5px 10px;
    width: 25px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    .icon-bar {
      background: #e7a480; //background: rgba(244,227,153,1);
      position: absolute;
      left: 3px;
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 0;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    .icon-bar:nth-child(1) {
      top: 25%;
      opacity: 0;
    }

    .icon-bar:nth-child(2) {
      top: 50%;
      -webkit-transition-delay: 0s, .3s;
      transition-delay: 0s, .3s;
      opacity: 1;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .icon-bar:nth-child(3) {
      top: 50%;
      -webkit-transition-delay: 0s, .3s;
      transition-delay: 0s, .3s;
      opacity: 1;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .icon-bar:nth-child(4) {
      top: 75%;
      opacity: 0;
    }

    &.collapsed {
      .icon-bar:nth-child(1) {
        top: 25%;
        opacity: 1;
      }

      .icon-bar:nth-child(2) {
        top: 50%;
        opacity: 0;
      }

      .icon-bar:nth-child(3) {
        top: 50%;
        -webkit-transition-delay: 0s, .3s;
        transition-delay: 0s, .3s;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
      }

      .icon-bar:nth-child(4) {
        top: 75%;
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &__btn-gotop {
    position: fixed;
    left: 0;
    bottom: 40%;
    width: 10vw;
    height: auto;
  }

  &__logo {
    display: block;
    width: 90px;
    margin: 20px auto 15px auto;    
    transition: all 0.8s ease-in-out;
  }

  .navbar-news{
    position: absolute;
    right: 30px;
    top: 20px;
    display: none;
  }
}

@media (min-width: $media-lg) {
  .header {
    .navbar-news{
      position: absolute;
      right: 30px;
      top: 20px;
      display: block;
    }

    &__btn-gotop {
      width: auto;
    }

    &.affix {
      transition: all 0.8s ease-in-out;
      .header {
        &__logo {
          width: 120px;
          transition: all 0.8s ease-in-out;
        }

        .navbar-news{
          transform: scale(1);
          transition: all 0.8s ease-in-out;
        }
      }
    }

    .navbar-toggler {
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      margin: 20px 30px;
      width: 50px;
      height: 39px;
      background-color: rgba(0, 0, 0, 0);
      background-image: none;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 0;

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }

      .icon-bar {
        background: #e7a480; //background: rgba(244,227,153,1);
        position: absolute;
        left: 3px;
        display: block;
        width: 42px;
        height: 3px;
        border-radius: 0;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

      .icon-bar:nth-child(1) {
        top: 25%;
        opacity: 0;
      }

      .icon-bar:nth-child(2) {
        top: 50%;
        -webkit-transition-delay: 0s, .3s;
        transition-delay: 0s, .3s;
        opacity: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .icon-bar:nth-child(3) {
        top: 50%;
        -webkit-transition-delay: 0s, .3s;
        transition-delay: 0s, .3s;
        opacity: 1;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .icon-bar:nth-child(4) {
        top: 75%;
        opacity: 0;
      }

      &.collapsed {
        .icon-bar:nth-child(1) {
          top: 25%;
          opacity: 1;
        }

        .icon-bar:nth-child(2) {
          top: 50%;
          opacity: 0;
        }

        .icon-bar:nth-child(3) {
          top: 50%;
          -webkit-transition-delay: 0s, .3s;
          transition-delay: 0s, .3s;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          opacity: 1;
        }

        .icon-bar:nth-child(4) {
          top: 75%;
          opacity: 1;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &__logo {
      display: block;
      width: 180px;
      margin: 20px auto 30px auto;
      transition: all 0.8s ease-in-out;
    }
  }
}

@media only screen and (max-height: 800px) {
  .header {
    &__logo {
      width: 100px;
    }
  }
}

@media only screen and (max-height: 600px) {
  .header {
    &__logo {
      max-width: 100px;
    }
  }
}