@charset "UTF-8";

.nav{
    &-main{
        position: fixed;
        z-index: 2000;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    &-box {
      position: relative;
        background: url(../images/age/age-bg.jpg) center;
        background-size: cover;
        height: auto;
        margin-bottom: 160px;
        padding: 50px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 90vw;
        padding: 20px;

        .nav-link{
          padding: 0 !important;
          margin: 0 !important;
        }
    }
    &-list{
      width: 285px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-top:1px #dda67f solid;
        border-bottom:1px #dda67f solid;
    }
    &-item{       
        margin: 0.5em auto;
        width: 100%; 
        text-align: center;       
    }
    &-a{
        position: relative;
        margin: 10px;
        display: inline-block;

        .img-fluid{
          height: 20px;
      } 
    }
    &-icon{
        width: 42px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &-close{
      position: absolute;
      left:10px;
      top:0px;
      cursor: pointer;
    }
}

@media (min-width: $media-lg) {
    .nav{
        &-box {
            width: 80vw;
            padding: 50px;
            margin-bottom: 120px;
        }  
        &-a{
            .img-fluid{
                height: auto;
            } 
        }  
        &-icon{
            height: auto;
        }   
    }
}

@media only screen and (max-height: 800px) {
  .header {
    .nav-a{
      height:18px;
    }
  }
}