body,html{
  padding: 0;
  margin: 0;
}

svg {
    width: 1000px;
    height:1000px;
}

.cls-1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash 1s linear forwards;
            animation: dash 1s linear forwards;
            -webkit-animation-delay: 0.3s;
                    animation-delay: 0.3s;
}
.cls-2 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash 1s linear forwards;
            animation: dash 1s linear forwards;
            -webkit-animation-delay: 1s;
                    animation-delay: 1s;
}

@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 0;
    }
}
