body,html{
  padding: 0;
  margin: 0;
}

svg {
    width: 1000px;
    height:1000px;
}


.cls-1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash 1s linear forwards;
            animation: dash 1s linear forwards;
            -webkit-animation-delay: 0.3s;
                    animation-delay: 0.3s;
}
.cls-2 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash 1s linear forwards;
            animation: dash 1s linear forwards;
            -webkit-animation-delay: 0.3s;
                    animation-delay: 0.3s;
}
.cls-3 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash 1s linear forwards;
            animation: dash 1s linear forwards;
            -webkit-animation-delay: 0.5s;
                    animation-delay: 0.5s;
}
.cls-4 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash 1s linear forwards;
            animation: dash 1s linear forwards;
            -webkit-animation-delay: 1s;
                    animation-delay: 1s;
}

.cls-5 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash 1s linear forwards;
            animation: dash 1s linear forwards;
            -webkit-animation-delay: 1s;
                    animation-delay: 1s;
}

.cls-5-2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: dash3 1s linear forwards;
          animation: dash3 1s linear forwards;
          -webkit-animation-delay: 1s;
                  animation-delay: 1s;
}

.cls-6 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash 1s linear forwards;
            animation: dash 1s linear forwards;
            -webkit-animation-delay: .3s;
                    animation-delay: .3s;
}
.cls-7 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash 1s linear forwards;
            animation: dash 1s linear forwards;
            -webkit-animation-delay: 1s;
                    animation-delay: 1s;
}
.cls-8 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    -webkit-animation: dash3 1s linear forwards;
            animation: dash3 1s linear forwards;
            -webkit-animation-delay: 0.5s;
                    animation-delay: 0.5s;
}
.cls-9 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: dash1 2s linear forwards;
            animation: dash1 2s linear forwards;
            -webkit-animation-delay: 1.2s;
                    animation-delay: 1.2s;
}
@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash1 {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash1 {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash3 {
  from {
      stroke-dashoffset: 400;
  }
  to {
      stroke-dashoffset: 0;
  }
}

@keyframes dash3 {
  from {
      stroke-dashoffset: 400;
  }
  to {
      stroke-dashoffset: 0;
  }
}
