﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_pageheader.ascx.cs" Inherits="backend_uc_uc_pageheader" %>

<div class="pageheader" style="padding: 10px">
    <%--<h2><i class="fa fa-home"></i>OgilvyOne <span>Subtitle goes here...</span></h2>--%>
    <%--在max-width:767px下的 media screen，.breadcrumb-wrapper 的 display 會被設定為 none--%>
    <div class="breadcrumb-wrapper" style="position: relative; top: 0; right: 0; display:block;">
        <span class="label">You are here:</span>
        <ol class="breadcrumb" style="margin-bottom: 0;">
            <%--控制移至leftMenu操作--%> 
        </ol>
    </div>
</div>