@charset "UTF-8";

.age {
  position: fixed;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  a {
    &:hover {
      color: #e2a974;
    }
  }

  &__title {
    max-width: 100%;
  }

  &__box {
    background: url("../images/age/age-bg.jpg") center;
    background-size: cover;
    height: auto;
    margin-bottom: 80px;
    padding: 50px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &__logo {
    width: 176px;
    height: auto;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .5rem;
    text-indent: .5rem;
    text-align: center;
    color: #e9a878;
  }

  &__birthday {
    border: solid 1px #e2a974;
    background: transparent;
    padding: 0 5px;
    color: #e2a974;
    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #e9a878;
  }

  &__link1 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #e9a878;
    text-decoration: underline;
    margin-bottom: 10px;

    &:hover {
      color: #e9a878;
    }
  }

  &__link2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #e9a878;
    text-decoration: underline;
  }

  &__remember {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #e9a878;
    margin-bottom: 10px;

    input[type=checkbox] {
      background: transparent;
      border: solid 1px #e2a974;
      width: 18px;
      height: 18px;
    }
  }

  &__btn-submit {
    width: 190px;
    margin-bottom: 20px;
  }

  &__country {
    width: 300px;
    font-size: 14px;
    margin-bottom: 10px;
    text-align-last: center;
    background: transparent;
    border-color: transparent;
    color: #e9a878;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      color: #e9a878;
      background: transparent;
    }

    option {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.9);
      color: #e9a878;
    }
  }

  .age__birthday {
    border: none;
  }

  .age__birthday .form-control {
    border: solid 1px #e2a974;
    margin-right: 8px;
  }

  select.form-control {
    padding-left: 10px;
    background-image: url("../images/page/form/selecte-arr.png");
    background-position: right 5px center;
    background-repeat: no-repeat;
  }

  select::-ms-expand {
    display: none;
  }

  /**************************************/

  select {
    -webkit-appearance: none;
    border-radius: 0;
  }

  /**************************************/

  .data__birthday__year {
    display: inline-block;
    width: 38%;
    margin-right: 5px;
  }

  .data__birthday__month {
    display: inline-block;
    width: 28%;
    margin-right: 5px;
  }

  .data__birthday__day {
    display: inline-block;
    width: 28%;
  }

  .col-form-label {
    text-align: left;
  }

  /**************************************/

  .age__birthday {
    text-align: center;
    width: 100%;
    max-width: 480px;
  }

  .form {
    text-align: left;
    color: #e3a981;

    a {
      color: #e3a981;
      text-decoration: underline;

      &:hover {
        color: #e3a981;
      }
    }

    &-control {
      color: #e3a981;
      background: transparent;
      border-radius: 0;
      border-color: transparent;
      border-left: 0;
      height: 39px;

      &:focus {
        color: #e3a981;
        background: transparent;
        border-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
      }

      &::-webkit-input-placeholder {
        color: #999;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #999;
        opacity: 1;
      }

      &::placeholder {
        color: #999;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #999;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #999;
      }
    }

    &-btn {
      position: relative;
      display: block;
      margin: 20px auto;
    }

    &-link {
      color: #e3a981;
      text-decoration: underline;

      &:hover {
        color: #e3a981;
      }
    }

    &-line {
      position: relative;

      &:after {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        height: 1px;
        background: #e3a981;
        bottom: 10px;
      }

    }
  }

  select {
    &.form-control {
      padding: 0;
      padding-left: 10px;
      margin-left: -10px;

      &:focus {
        background: #000;
      }
    }
  }
}
@media (max-width: 990px) {
  .age {
    .age__birthday {
      text-align: right;
    }
  }
}
@media (min-width: 481px) {
  .age {
    &__box {
      margin-bottom: 90px;
    }
  }
}
@media (min-width: $media-lg) {
  .age {
    &__btn-submit {
      width: 360px;
    }

    &__logo {
      width: 176px;
      height: auto;
      margin-bottom: 80px;
    }

    &__country {
      width: 360px;
    }
  }
}
