@charset "UTF-8";

p {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0 !important;
}

main {
  .container-fixed {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    // padding-top: 3.75em;
    // padding-bottom: 3.75em;
    text-align: center;

    overflow: hidden;
  }

  .container-txt {
    position: relative;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
  }

  p {
    font-size: 1.25em;
    font-family: '微軟正黑體';
    color: #dda67f;
    font-weight: 100;
    line-height: 1.6em;
    margin-bottom: 1.6em;
  }

  h1 {
    font-size: 1em;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: .95em;

    img {
      margin: 0 auto;
    }
  }

  .footer__padding {
    height: 120px;
  }
}

.pc-view {
  display: inherit;
}

.pc-view-inline {
  display: inline-block;
}

.mobile-view {
  display: none;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  // background-image: url(../images/layout/blue-bg.jpg);
  top: 0;
  left: 0;
  z-index: 99999;
}

/* ==========================================================================
   Responsive class
   ========================================================================== */
@media only screen and (max-height: 600px) {
  main {
  //  font-size: 12px;
  }
}

@media only screen and (max-height: 800px) {
  main {
    .container-fixed {
      width: 70%;
    }

    .container-txt {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 840px) {
  .pc-view {
    display: none;
  }

  .pc-view-inline {
    display: none;
  }

  .mobile-view {
    display: inherit;
  }

  main {

    font-size: 12px;

    p {
      font-weight: 400;
    }

    h1 {
      font-size: 1em;
      margin-top: 4em;
      margin-bottom: 4em;
    }

    h2 {
      width: 100%;
      font-size: 16px;
      // max-height: 1em;

      img {
        width: auto;
        // max-width: 100%;
        height: 1em;
        margin: 0 auto;
      }
    }

    .container-txt {
      position: relative;
      width: 100%;
    }
  }
}
