@charset "UTF-8";
.form {
    text-align: left;
    color: #e3a981;

    a {
        color: #e3a981;
        text-decoration: underline;

        &:hover {
            color: #e3a981;
        }
    }

    &-control {
        color: #e3a981;
        background: transparent;
        border-radius: 0;
        border-color: transparent;
        border-left:0; 
        height: 39px;

        &:focus {
            color: #e3a981;
            background: transparent;
            border-color: transparent;
            box-shadow: none;
        }

        &::placeholder {
            color: #999;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #999;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #999;
        }
    }

    &-btn {
        position: relative;
        display: block;
        margin: 20px auto;
    }

    &-link {
        color: #e3a981;
        text-decoration: underline;

        &:hover {
            color: #e3a981;
        }
    }

    &-line{
        position: relative;
        &:after{
            content: '';
            position: relative;
            display: block;
            width: 100%;
            height: 1px;
            background: #e3a981;
            bottom: 10px;
        }
      
    }
    .gender {
        padding-top: 8px;
        .form-check-label {
            margin-right: 15px;
        }

        .col-form-label {
            margin: 0 20px 0 0.75rem;
        }
    }
}

.col-form-label{
    text-align: right;
    color: #e3a981;
    background: transparent;
    border-radius: 0;
    border-color: transparent;
}

select {   
    &.form-control {   
        padding: 0;
        margin-left: -10px;
        &:focus {
            background: #000;
        }
    }
}


.moibleView{
  display: block;
  height: 5px;
}


.size-large{
  display: none;
}

.size-small{
  display: block;
}

.btn-submit{
  width: 100%;
  max-width: 368px;

  img{
    width: 100%;
    height: auto;
  }
}

@media (min-width: 481px) {


  .moibleView{
    display: none;
  }

  .size-large{
    display: block;
  }
  
  .size-small{
    display: none;
  }
 
}

@media (min-width: $media-lg) {
    .form {
        text-align: left;
    }  
}