@charset "UTF-8";

.formPage {
  /*background-image: url("../images/layout/bg-mobile.jpg");
  background-size: 100% auto;
  background-attachment: initial;
  background-position: center top;*/

  position: relative;
  width: 100%;
  background: url("../images/layout/bg-mobile.jpg") no-repeat center;
  // background-size: cover;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  background-color: #000;

  main p {
    color: unset;
    font-size: unset;
    color: unset;
    font-weight: unset;
    line-height: unset;
    margin-bottom: unset;
  }

  .slimScrollBar {
    background: transparent !important;
  }

  .fp-scrollable {
    padding: 0 10px !important;
  }

  .nav-box {
    // position: relative;
    // padding-top: 70px;

    // .nav-close {
    //   position: absolute;
    //   right: 46px;
    //   top: 25px;
    // }
  }

  .section {
    &__bg {
      padding: 50px 10px;
      background: url("../images/page/form/card-bg.png") repeat center;
      -webkit-box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
      box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
    }

    &__padding {

      padding: 50px 10px;
      background: url("../images/page/form/card-bg.png") repeat center;
      -webkit-box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
      box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);

      /*display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;*/
    }

    &__card {
      padding-top: 20%;

      img {
        -webkit-box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
        box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
      }
    }

    &__title {
      text-align: center;
      margin-bottom: 30px;
    }

    &__content {
      text-align: center;
      margin-bottom: 30px;

      .img-fluid {
        width: 100%;
        height: auto;
      }
    }

    &__arrow {
      display: block;
      margin: 20px auto;
    }

    &__arrow {
      display: block;
      text-align: center;
    }
  }

  .form {
    text-align: left;
    color: #e3a981;

    a {
      color: #e3a981;
      text-decoration: underline;

      &:hover {
        color: #e3a981;
      }
    }

    &-control {
      color: #e3a981;
      background: transparent;
      border-radius: 0;
      border-color: transparent;
      border-left: 0;
      height: 39px;

      &:focus {
        color: #e3a981;
        background: transparent;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &::-webkit-input-placeholder {
        color: #999;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #999;
        opacity: 1;
      }

      &::placeholder {
        color: #999;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #999;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #999;
      }
    }

    &-btn {
      position: relative;
      display: block;
      margin: 20px auto;
    }

    &-link {
      color: #e3a981;
      text-decoration: underline;

      &:hover {
        color: #e3a981;
      }
    }

    &-line {
      position: relative;

      &:after {
        content: '';
        position: relative;
        display: block;
        width: 100%;
        height: 1px;
        background: #e3a981;
        bottom: 10px;
      }

    }

    .gender {
      padding-top: 8px;

      .form-check-label {
        margin-right: 15px;
      }

      .col-form-label {
        margin: 0 20px 0 .75rem;
      }
    }
  }

  .col-form-label {
    text-align: right;
    color: #e3a981;
    background: transparent;
    border-radius: 0;
    border-color: transparent;
  }

  select {
    &.form-control {
      padding: 0;
      margin-left: -10px;

      &:focus {
        background: #000;
      }
    }
  }

  .moibleView {
    display: block;
    height: 5px;
  }

  .size-large {
    display: none;
  }

  .size-small {
    display: block;
  }

  .btn-submit {
    width: 100%;
    max-width: 368px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .rule {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #e3a981;

    p {
      text-align: justify;
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
      color: #e3a981;
      margin-bottom: 1rem;
    }

    &__title {
      border: solid 1px #e3a981;
      padding: 2px 5px 3px;
      margin-right: 10px;
      margin-bottom: 5px;
    }

    ul {
      margin-left: -24px;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      color: #e3a981;
      text-decoration: underline;
    }
  }

  .pop__thankyou {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 9999;

    left: 0;
    top: 0;
    display: none;

    .thankyou__content {
      cursor: pointer;
    }

    .thankyou__content__pc {
      position: absolute;
      width: 1000px;
      height: 725px;
      left: 50%;
      top: 50%;
      margin-left: -500px;
      margin-top: -370px;
    }

    .thankyou__content__mobile {
      width: 100%;
      padding: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  /*****************************************************/

  .location__menu {
    text-align: center;
  }

  .location__menu__btn {
    width: 30%;
    height: 40px;
    text-align: center;
    display: inline-block;

    background-image: url("../images/page/form/location-btn.png");
    background-size: 100% 100%;
    margin: 1%;
    cursor: pointer;
    color: #e3a981;
  }

  .location__menu__btn:hover {
    background-image: url("../images/page/form/location-btn-active.png");
    color: #111823;
  }

  .location__menu__btn-active {
    background-image: url("../images/page/form/location-btn-active.png");
    color: #111823;
  }

  .location__menu__btn p {
    line-height: 40px;
  }

  /**************************************/

  .data__birthday__year {
    display: inline-block;
    width: 38%;
    margin-right: 5px;
  }

  .data__birthday__month {
    display: inline-block;
    width: 28%;
    margin-right: 5px;
  }

  .data__birthday__day {
    display: inline-block;
    width: 28%;
  }

  .col-form-label {
    text-align: left;
  }

  /**************************************/

  .age__birthday {
    text-align: center;
    width: 100%;
    max-width: 480px;
  }

  .header {
    background-image: url("../images/layout/header-bg.png");
    background-size: auto 100%;
  }

  select.form-control {
    padding-left: 10px;
    background-image: url("../images/page/form/selecte-arr.png");
    background-position: right 5px center;
    background-repeat: no-repeat;
  }

  select::-ms-expand {
    display: none;
  }

  /**************************************/

  select {
    -webkit-appearance: none;
    border-radius: 0;
  }
}
@media (min-width: 481px) {
  .formPage {
    .moibleView {
      display: none;
    }

    .size-large {
      display: block;
    }

    .size-small {
      display: none;
    }
  }
}
@media (max-width: 990px) {
  .formPage {
    .register__bg {
      padding-left: 60px;
      padding-right: 60px;
    }

    .age__birthday {
      text-align: right;
    }
  }
}
@media (max-width: 1200px) {
  .formPage {
    .register__bg {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
@media (min-width: $media-lg) {
  .formPage {
    background: url(../images/layout/bg-pc.jpg) no-repeat center;
    background-size: cover; 
    background-attachment: fixed;
    background-color: #000;

    .form {
      text-align: left;
    }
  }
}

@media (min-width: $media-lg) {
  .formPage {
    .section {
      &__bg {
        padding: 100px;
        background: url("../images/page/form/card-bg.png") repeat center;
        -webkit-box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
        box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
        padding-bottom: 50px;
      }

      &__padding {
        padding: 100px;
        background: url("../images/page/form/card-bg.png") repeat center;
        -webkit-box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
        box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
        padding-bottom: 50px;
      }

      &__card {
        padding-top: 20%;

        img {
          -webkit-box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
          box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
        }
      }

      &__title {
        text-align: center;
        margin-bottom: 30px;
      }

      &__content {
        text-align: center;
        margin-bottom: 30px;
      }

      &__arrow {
        display: block;
        margin: 20px auto;
      }

      &__arrow {
        display: block;
        text-align: center;
      }
    }
  }
}
