@charset "UTF-8";

.indexPage {
  height: 100%;
  min-height: 100%;
  // overflow-x: hidden;

  /************************************/
  .main__banner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;

    .main__banner__container {
      position: absolute;
      width: 1920px;
      height: 1000px;
      left: 50%;
      top: 50%;
      margin-left: -960px;
      margin-top: -520px;

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100%;
        background: transparent;
        opacity: 1;
        border: 1px #dda87b solid;
      }

      .swiper-pagination-bullet-active {
        background: #dda87b;
      }
    }

    .main__banner__slide {
      width: 100%;
      height: 100%;

      &__0 {
        background-image: url("../images/page/index/main-banner-0.jpg");
      }

      &__1 {
        background-image: url("../images/page/index/main-banner-1.jpg");
      }

      &__2 {
        background-image: url("../images/page/index/main-banner-2.jpg");
      }
    }

    .main__banner__title_0 {
      position: absolute;
      left: 234px;
      top: 562px;
    }

    .main__banner__title_1 {
      position: absolute;
      right: 380px;
      top: 371px;
    }

    .main__banner__title_2 {
      position: absolute;
      right: 317px;
      top: 223px;
    }
  }
  /************************************/

  .secret_1 {
    position: relative;

    .fade_top {
      position: absolute;
      width: 100%;
      top: -100px;

      img {
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
      }
    }
  }

  .secret_2 {
    position: relative;

    h1 {
      margin-bottom: 2em;
    }
    
  }

  .secret_3 {
    position: relative;

    /********************************************************/

    .pin__container {
      height: 300vh;
    }

    .pin-wrapper {
      overflow: hidden;
    }

    .pin__content {
      width: 100%;
      height: 90vh;
    }

    .distiller__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }

    .distiller__stage {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      overflow: hidden;
    }

    .distiller__container {
      position: absolute;
      width: 1000px;
      height: 1000px;
      left: 50%;
      top: 50%;
      margin-left: -500px;
      margin-top: -500px;
    }

    .distiller__txt {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 10px;
      overflow: inherit;

      // background-color: #666;

      .distiller__txt__bg {
        position: absolute;
        width: 100%;
        height: 150%;
        left: 0;
        top: -50%;
        background-image: url('../images/page/index/distiller-txt-mask.png');
        background-size: auto 100%;
        opacity: .7;
      }
    }

    .distiller__content {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .distiller__step {
      position: absolute;
      top: 0;
      left: 0;
    }

    /********************************************************/

    .product-container {
      margin-top: 2.5em;
      margin-bottom: 2.5em;
    }

    .product-slide {}

    .btn-product {
      display: inline-block;
      margin: 10px;
      -webkit-transform: scale(1);
              transform: scale(1);
    }

    .product-wrapper{
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  
    .product-slide{
      width: 30%;
    }

    .container-fixed-product{
      // width: 100%;
      // max-width: 100%;
      // overflow-x: hidden;
    }

    .product__effect{
      position: absolute;
      width: 678px;
      height: 674px;
      left:50%;
      top:50%;
      margin-left: -339px;
      margin-top: -337px;
      background-image: url(../images/page/product/effect.png);
      display: none;
      pointer-events: none;
    }
  }

  .animated__container {
    position: absolute;
    width: 1400px;
    height: 730px;
    left: 50%;
    top: 50%;

    margin-left: -700px;
    margin-top: -365px;
  }

  .secret__animated {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: -50px;
  }

  .secret_1__animated__0 {
    .animated__container {
      margin-left: -700px;
      margin-top: -395px;
    }
  }

  .secret_1__animated__2 {
    .animated__container {
      margin-left: -700px;
      margin-top: -410px;
    }
  }

  .secret_4 {
    padding-top: 60px;

    .lock__loader{
      height:286px;
    }

    .lock{
      position: absolute;
      width: 700px;
      height:286px;
      left:50%;
      top:50%;
      margin-left: -350px;
      margin-top: -143px;
    }
  }

}
@media only screen and (max-width: 840px) {
  .indexPage {
    .secret_3 {
      .fixed-mobile {
        width: 80%;
      }

      .product-slide {
        width: 25%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .secret__animated {
      width: 100%;
      overflow: hidden;
    }
  }
}
@media only screen and (max-width: 720px) {
  .indexPage {
    .secret__title {
      width: 100%;
    }

    .main__banner {
      .main__banner__container {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-left: 0;
        margin-top: 0;
      }

      .main__banner__slide {
        width: 100%;
        height: 100%;

        background-size: 100% auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #000;
        
        // background-color:#fff;

        .main__banner__title {
          // display: none;
        }

        .main__banner__title_0 {
          display: none;
        }
    
        .main__banner__title_1 {
          position: absolute;
          /* right: 120px; */
          /* top: 472px; */
          left: 50%;
          margin-left: -87px;
          bottom: 190px;
          top: initial;
        }
    
        .main__banner__title_2 {
          left: 50%;
          margin-left: -87px;
          bottom: 190px;
          top: initial;
        }

        &__0 {
          background-image: url("../images/page/index/mobile/main-banner-0.jpg");
        }

        &__1 {
          background-image: url("../images/page/index/mobile/main-banner-1.jpg");
        }

        &__2 {
          background-image: url("../images/page/index/mobile/main-banner-2.jpg");
        }
      }
    }

    .secret_2 {
      position: relative;

      h1 {
        margin-bottom: 2em;
      }

      .pin__container {
        height: 300vh;
      }

      .pin-wrapper {
        overflow: hidden;
      }

      .pin__content {
        width: 100%;
        height: 80vh;
      }

      .distiller__txt {
        .container-txt {
          width: 70%;
        }
      }
    }

    .secret_3 {
      .btn-product {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
      }
    }
  }
}
@media only screen and (max-height: 800px) {
  main {
    .secret_3 {
      position: relative;

      .product-container {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
      }

      .product-box {
        width: 70%;
      }

      .product-slide {
        height: 20%;

        img {
          height: 300px;
          width: auto;
        }
      }
    }
  }
}
