@charset "UTF-8";

.productPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow-x: hidden;

  .container-fixed{
    overflow:visible;
  }

  .product__effect{
    position: absolute;
    width: 678px;
    height: 674px;
    left:50%;
    top:50%;
    margin-left: -339px;
    margin-top: -337px;
    background-image: url(../images/page/product/effect.png);
    display: none;
    pointer-events: none;
  }

  .product-wrapper{
    justify-content: space-around;
  }

  .product-slide{
    width: 30%;
  }
}

.product {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 160px 15px;

  .row {
    position: relative;
    align-items: flex-start;
  }

  p {
    // margin: 0;
    // line-height: 1.2;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
  }

  .text-center {
    p {
      text-align: center;
    }
  }

  &__btn {
    &-back {
      position: absolute;
      top: -40px;
      left: 15px;
      margin-top: -22px;

      img {
        max-width: 100%;
      }
    }

    &-store {
      display: none;
      width: 115px;
      margin: 0 auto;
    }
  }

  &__photo {
    position: relative;
    text-align: center;

    img {
      max-height: 50vh;
    }
  }

  &__label {
    margin: -30px 0 20px;
    text-align: center;

    img {
      // max-height: 40px;
    }
  }

  &__info {
    position: absolute;
    right: 15px;
    top: -70px;
    line-height: 1;
    color: #dda67f;
    z-index: 1;
  }

  &__spec {
    label {
      width: 62px;
      text-align: right;
    }
  }

  &__item {
    margin-top: 1rem;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;

    li {
      opacity: .3;
      margin: 15px;

      &.active {
        opacity: 100;
      }

      img {
        height: 60px;
      }
    }
  }

  .nav {
    margin: 30px 0 10px;

    &-item {
      width: auto;
      margin: 0;
      border-left: 1px solid #dda67f;
      line-height: 1;

      &:nth-child(1) {
        border-left: none;
      }
    }

    &-link {
      color: #f4e6cf;
      padding: 0 10px;
      line-height: 1;
      font-size: 1.25em;

      &.active {
        color: #dda67f;
        font-weight: bold;
      }

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }

  .tab-pane {
    p {
      min-height: 48px;
    }
  }
}
@media (min-width: $media-lg) {
  .product {
    p {
      // margin: 0;
      // line-height: 1.2;
      max-width: 100%;
      margin: 0 auto;
      text-align: left;
    }

    &__btn {
      &-back {
        position: fixed;
        top: 50%;
        left: 80px;
        margin-top: -22px;

        img {
          max-width: 100%;
        }
      }

      &-store {
        width: 160px;
      }
    }

    &__photo {
      img {
        max-height: auto;
      }
    }

    &__label {
      margin: 35px 0;
      text-align: left;
    }

    &__info {
      top: -25px;
    }

    &__spec {
      label {
        width: 90px;
      }
    }

    &__item {
      li {
        opacity: .3;
        margin: 15px 9px;

        &.active {
          opacity: 1;
        }

        img {
          height: 60px;
        }
      }
    }
  }
}

@media only screen and (max-height: 800px) {

  .product {
    padding: 120px 15px;
  }

  .productPage {
    position: relative;

    .product-container {
      margin-top: 2.5em;
      margin-bottom: 2.5em;
    }

    .product-box {
      width: 100%;
    }

    .product-slide {
      height: 30%;

      .product-picture {
        height: 300px;
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 840px) {
  .productPage {

    .product {
      padding: 180px 15px;
    }

    .product-box{
      margin-top: -40px;
    }

    .product-slide {
      width: 30%;
      height: auto;

      .product-picture {
        width: 100%;
        height: auto;
      }
    }
  }
}
