@charset "UTF-8";
.slimScrollBar{
    background: transparent !important;
}
.fp-scrollable{
    padding: 0 10px !important;
}

.nav-box{
  position: relative;
  padding-top: 70px; 

  .nav-close{
    position: absolute;
    right: 46px;
    top: 25px;
  }
}

.section {
    &__bg {
        padding: 50px 10px;
        background: url(../images/page/card-bg.png) repeat center;
        box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
    }

    &__padding {
       
        padding: 50px 10px;
        background: url(../images/page/card-bg.png) repeat center;
        box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);

        /*display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;*/
    }

    &__card {
        padding-top: 20%;
        img {
            box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__content {
        text-align: center;
        margin-bottom: 30px;

        .img-fluid{
          width: 100%;
          height: auto;
        }
    }

    &__arrow {
        display: block;
        margin: 20px auto;
    }

    &__arrow {
        display: block;
        text-align: center;
    }
}

.rule {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #e3a981;

    p {
        text-align: justify;
    }

    &__title {
        border: solid 1px #e3a981;
        padding: 2px 5px 3px 5px;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    ul{
      margin-left:-24px;
    }

    li{
      margin-bottom: 10px;
    }

    a {
      color: #e3a981;
      text-decoration: underline;
    }
}


.pop__thankyou{
  position: fixed;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,.5);
  z-index: 9999;

  left:0;
  top:0;
  display: none;

  .thankyou__content{
    cursor: pointer;
  }

  .thankyou__content__pc{
    position: absolute;
    width: 1000px;
    height: 725px;
    left:50%;
    top:50%;
    margin-left:-500px;
    margin-top: -370px;
  }

  .thankyou__content__mobile{
    width: 100%;
    padding: 20px;
    img{
      width: 100%;
      height: auto;
    }
  }
}


@media (min-width: $media-lg) {
    .section {
        &__bg {
            padding: 100px;
            background: url(../images/page/card-bg.png) repeat center;
            box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
            padding-bottom: 50px;
        }

        &__padding {
            padding: 100px;
            background: url(../images/page/card-bg.png) repeat center;
            box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
            padding-bottom: 50px;
        }

        &__card {
            padding-top: 20%;

            img {
                box-shadow: 0 0 20px 10px rgba(0%, 0%, 0%, 0.5);
            }
        }

        &__title {
            text-align: center;
            margin-bottom: 30px;
        }

        &__content {
            text-align: center;
            margin-bottom: 30px;
        }

        &__arrow {
            display: block;
            margin: 20px auto;
        }

        &__arrow {
            display: block;
            text-align: center;
        }
    }
}