@charset "UTF-8";

.storePage {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;

  padding-top: 120px;
  padding-bottom: 120px;

  .store__title {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 25px;
    width: auto;
  }

  select::-ms-expand {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .store__input {
    -webkit-appearance: none;
    padding-left: 10px;

    // color: #e3a981;
    color: #000;
    border: none;

    background-color: transparent;
    height: 39px;
    display: inline-block;

    font-size: 1.25em;
    line-height: 1.6em;

    &__0 {
      width: 120px;
    }

    &__1 {
      width: 120px;
    }

    &__2 {
      width: 280px;
    }

    option {
      background-color: #000;
      color: #e3a981;
    }
  }

  .store__input__container {
    position: relative;
    border-radius: 0;
    margin: 8px;
    // background-image: url("../images/page/form/selecte-arr.png");
    background-image: url("../images/page/store/btn-bg.png");
    // background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: auto 100%;

    border: solid 1px #e2a974;
    border: none;
    display: inline-block;

    &::after {
      position: absolute;
      width: 20px;
      height: 100%;
      background-image: url("../images/page/store/arr.png");
      background-repeat: no-repeat;
      background-position: center;
      content: '';
      pointer-events: none;
      top: 0;
      right: 10px;
      opacity: .5;
    }

    &-l {
      background-size: 100% auto;
    }

  }

  .sub {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 1.4em;
  }

  .map {
    width: 90%;
    max-width: 900px;
    height: 450px;
    margin: 20px auto 150px;

    text-align: center;

    &__info {
      i {
        margin-right: 5px;
      }
    }

    &__container {
      background-color: #e6ad77;
      padding: 4px;
      width: 100%;
      height: 100%;
    }

    &__loader {
      position: relative;
      background-color: rgba(0, 0, 0, 1);

      width: 100%;
      height: 100%;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .map__iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media only screen and (max-width: 840px) {
  .storePage {
    padding-top: 80px;

    .store__title {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .store__input__container {
      width: 80%;
      background-size: 100% auto;

      .store__input {
        width: 100%;
      }
    }
  }
}
